@(params: Map[String, String], results: List[Resume], page: Int, pageLength: Int, count: Int, qs: String, user: Option[models.auth.Account] = None)
@import views.html.helper._
@main(pageTitle = "Админ панель") {
    @user.map{ currentUser =>
        <div class="widewrapper dashboard">
            <div class="container content">
                <div class="row">
                    <section class="trips-section col-md-8 with-margin">

                        <div class="row">
                            @form(routes.ResumeCtrl.dashboardAdmin) {
                                <input type="hidden" name="page" value="1"/>
                                <div class="row">
                                    <div class="col-md-8">
                                        <input type="text" name="name" class="form-control input-lg search-input" placeholder="ФИО Клиента" value="@params.get("name").getOrElse("")">
                                    </div>
                                    <div class="col-md-2">
                                        <div id="resume-search" class="btn btn-grove-one btn-lg">Поиск резюме <i class="glyphicons search"></i></div></a>
                                    </div>
                                </div>
                                <div class="row second">
                                    <div class="col-md-4 form-group">
                                        <label for="status">Статус</label>
                                        <select name="status" id="status" class="form-control">
                                            <option></option>
                                            @for(status <- models.ResumeStatus.getStatuses) {
                                                <option value="@status._2" @if(params.get("status").getOrElse("") == status._2) { selected } >@status._2</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="datetime">Дата изменения</label>
                                        <input id="datetime" type="text" name="date" data-date-dateformat="yyyy/mm/dd" class="form-control input-lg search-input" value="@params.get("datetime").getOrElse("")">
                                    </div>
                                 </div>
                            }
                        </div>

                        @if(results.length > 0) {
                            <div class="row with-margin">
                                <table class="table trips-table">
                                    <caption></caption>
                                    <thead>
                                        <tr>
                                            <td>Client</td>
                                            <td>Файл резюме</td>
                                            <td>Статус</td>
                                            <td>Дата изменения</td>
                                            <td>Действие</td>
                                        </tr>

                                    </thead>
                                    <tbody>

                                    @for(resume <- results) {
                                        <tr class="">
                                            <td>@resume.fullname</td>

                                            <td>@resume.id</td>
                                            <td>@resume.status</td>
                                            <td>@resume.date.toLocalDateTime</td>
                                            <td>
                                                <a href="#" class="btn btn-grove-one">Удалить</a>
                                            </td>
                                        </tr>

                                    }
                                    </tbody>
                                </table>
                            </div>
                            @dashboardPaging(qs, page, pageLength, count, routes.ResumeCtrl.dashboardAdmin)
                        }
                    </section>
                    @views.html.RightSidebar.contactInfo()
                </div>
            </div>
        </div>
    }
}