@(user: Option[models.auth.Account])
@import views.Dashboard.DateTimeHelper
@main(pageTitle = "Мои резюме") {

    @user.map{ currentUser =>
        <div class="widewrapper dashboard">
            <div class="container content">
                <div class="row">

                    @if(currentUser.resumes.isEmpty){
                        <section class="col-md-6 col-md-offset-1 with-margin empty-dashboard">

                            <div class="row ">
                                <div class="col-md-10 centralize">


                                    <div class="row icon">
                                        <i class="glyphicons warning_sign "></i>
                                    </div>

                                    <div class="row">
                                        <h1> Ниодного резюме пока не создано </h1>
                                    </div>

                                    <hr/>

                                    <div class="row">
                                        <a href="@routes.ResumeCtrl.createResume()"><div class="btn btn-grove-one btn-lg"><i class="glyphicons plus"></i> Добавить резюме </div></a>
                                    </div>

                                </div>

                            </div>

                        </section>
                    }else{

                        <section class="trips-section col-md-8 with-margin">

                            <div class="row ">
                                <div class="col-md-2">
                                    <a href="@routes.ResumeCtrl.createResume()"><div class="btn btn-grove-one btn-lg"><i class="glyphicons plus"></i> Добавить резюме </div></a>
                                </div>

                            </div>

                            <div class="row with-margin">
                                <table class="table trips-table">
                                    <caption></caption>
                                    <thead>
                                        <tr>
                                            <td>№</td>
                                            <td>Отправленное резюме</td>
                                            <td>Готовое резюме</td>
                                            <td>Статус</td>
                                            <td>Дата создания</td>
                                            <td>Действие</td>
                                        </tr>

                                    </thead>
                                    <tbody>

                                    @for((resume,id) <- currentUser.resumes.zipWithIndex) {
                                        <tr class="">
                                            <td>@(id+1)</td>
                                            <td>
                                                <a href="assets/docs/@(resume.id + "." + resume.ext.getOrElse(""))">Скачать</a>
                                            </td>
                                            <td>@resume.result.getOrElse("Не готово")</td>
                                            <td>@resume.status</td>
                                            <td>@DateTimeHelper.format(resume.date.toLocalDateTime)</td>
                                            <td>
                                                <a href="#" class="btn btn-grove-one">Удалить</a>
                                            </td>
                                        </tr>

                                    }

                                    </tbody>
                                </table>

                            </div>

                        </section>

                    }

                    @views.html.RightSidebar.contactInfo()

                </div>
            </div>
        </div>
    }
}