@()
<div class="header_bottom">
    <div class="container">
        <div class="logo">
            <a href="/"><img src="@routes.Assets.at("images/landing/logo.png")" alt=""/></a>
        </div>
        <div class="consul_btn1"><a href="#">Free</a></div>
        <div class="menu">
            <div class="h_menu4"><!-- start h_menu4 -->
                <a class="toggleMenu" href="#">
                    Menu</a><div class="nav_icon"><img src="@routes.Assets.at("images/landing/nav_icon.png")" alt=""/></div>
                <ul class="nav">
                    <li class="active"><a href="#home" class="scroll">Главная</a></li>
                    <li><a href="#about" class="scroll">О Нас</a>
                        <ul>

                        </ul>
                    </li>
                    <li><a href="#pricePlans" class="scroll">Наши услуги</a>
                        <ul>

                        </ul>
                    </li>
                    <li><a href="#app" class="scroll">Процедура заказа </a>
                        <ul>

                        </ul>
                    </li>
                    <li><a href="#work" class="scroll">Наши работы</a></li>
                </ul>
                <script type="text/javascript" src="@routes.Assets.at("javascript/landing/nav.js")"></script>
            </div><!-- end h_menu4 -->
            <script type="text/javascript">
            jQuery ( document ).ready ( function ( $ ) {
            $ ( ".scroll" ).click ( function ( event ) {
            event.preventDefault ( ) ;
            $ ( 'html,body' ).animate ( { scrollTop : $ ( this.hash ).offset ( ).top }, 1000 ) ;
            } ) ;
            } ) ;
            </script>
            <div class="login_btn" style="margin-right: 10px;"><a href="@routes.ResumeCtrl.dashboard()">Резюме</a></div>
            <div class="register_btn" style="margin-right: 10px;"><a href="/logout">Выход</a></div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>