@(signUpForm: play.api.data.Form[securesocial.controllers.Registration.RegistrationInfo], token: String)(implicit request: play.api.mvc.RequestHeader)
@import securesocial.core.providers.UsernamePasswordProvider
@import securesocial.core.IdentityProvider
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(views.html.auth.inputFieldConstructor.f) }

@views.html.main(pageTitle = Messages("securesocial.signup.title")){
    <div class="widewrapper">
        <div class="container login row-centered">
            <div class="col-md-6 col-centered">
                <h2 class="row-centered">@Messages("securesocial.signup.title")</h2>
                <p class="row-centered">@Messages("auth.login.description")</p>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 top10"">
                        @request.flash.get("error").map { msg =>
                            <div class="alert alert-danger">
                                @Messages(msg)
                            </div>
                        }

                        <form action="@securesocial.core.providers.utils.RoutesHelper.handleSignUp(token).absoluteURL(IdentityProvider.sslEnabled)(request)"
                        class=""
                        autocomplete="off" method="post"
                        role="form"
                        >
                            @if( UsernamePasswordProvider.withUserNameSupport ) {
                                @helper.inputText(
                                    signUpForm("userName"),
                                    '_label -> Messages("securesocial.signup.username"),
                                    'class -> "form-control"
                                )
                            }

                            @helper.inputText(
                                signUpForm("firstName"),
                                '_label -> Messages("securesocial.signup.firstName"),
                                'class -> "form-control"
                            )

                            @helper.inputText(
                                signUpForm("lastName"),
                                '_label -> Messages("securesocial.signup.lastName"),
                                'class -> "form-control"
                            )

                            @helper.inputPassword(
                                signUpForm("password.password1"),
                                '_label -> Messages("securesocial.signup.password1"),
                                'class -> "form-control"
                            )

                            @helper.inputPassword(
                                signUpForm("password.password2"),
                                '_label -> Messages("securesocial.signup.password2"),
                                '_error -> signUpForm.error("password"),
                                'class -> "form-control"
                            )

                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <button class="btn btn-grove-one btn-lg btn-bold" type="submit">@Messages("securesocial.signup.createAccount")</button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
