@(collegeRequest:Option[College] = None, collegeNumber:Int = 1, open:Boolean = true, hidden:Boolean = true)

<div class="college @if(hidden){ temp-hide }" data-number="@collegeNumber">
    <div href="#college@collegeNumber" class="accordion-toggle @if(open){ open }else{ collapsed }" data-toggle="collapse">Университет № <span class="college-number-id">@collegeNumber</span></div>
    <input type="hidden" name="trips[@{collegeNumber - 1}].trip_id" value="@collegeRequest.map(_.id)">
    <input type="hidden" name="trips[@{collegeNumber - 1}].trip_number" value="@{collegeNumber - 1}">

    <div id="college@collegeNumber" class="accordion-collapse collapse @if(open){ in }">
        <div class="college-content">

            <div class="col-md-offset-0 row">
                <div class="col-sm-6 form-group">
                    <label > Дата поступления </label>
                    <div class="date-picker" class="input-append">
                        <input readonly class="form-control input-lg add-on" data-format="MM/dd/yyyy"  name="trips[@{collegeNumber - 1}].depart_date" value="" type="text"></input>
                        <i class="input-date-icon glyphicons calendar"></i>
                    </div>
                </div>
                <div class="col-sm-6 form-group">
                    <label > Дата окончания </label>
                    <div class="date-picker" class="input-append">
                        <input readonly class="form-control input-lg add-on" data-format="MM/dd/yyyy"  name="trips[@{collegeNumber - 1}].depart_date" value="" type="text"></input>
                        <i class="input-date-icon glyphicons calendar"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-offset-0 row">
                <div class="col-sm-12 form-group">
                    <label for="ret_location"> Наименование учебного заведения (полностью)</label>
                    <input class="form-control input-lg" type="text" id="name" name="name" value="" placeholder="Наименование учебного заведения (полностью)">
                </div>
            </div>

            <div class="col-md-offset-0 row">
                <div class="col-sm-12 form-group">
                    <label for="ret_location"> Факультет</label>
                    <input class="form-control input-lg" type="text" id="name" name="name" value="" placeholder="Факультет">
                </div>
            </div>

            <div class="col-md-offset-0 row">
                <div class="col-sm-12 form-group">
                    <label for="ret_location"> Специальность и присвоенная квалификация</label>
                    <input class="form-control input-lg" type="text" id="name" name="name" value="" placeholder="Специальность и присвоенная квалификация">
                </div>
            </div>

        </div>
    </div>
</div>
<hr/>
