@()(implicit flash: Flash)
@import views.html.helper._

@main(pageTitle = "Travel Planner") {
    <div class="widewrapper">
        <div class="container content">
            <div class="row">
                @form(routes.ResumeCtrl.upload, 'enctype -> "multipart/form-data") {
                    <input type="hidden" name="id" value="0"/>
                    <input type="hidden" name="accountId" value="1"/>

                    <section class="personal-section col-md-8 faq">
                        <h2> Личная информация </h2>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="ret_location"> ФИО</label>
                                <input class="form-control input-lg" type="text" id="name" name="name" value="" placeholder="Петров Иван Иванович">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="ret_location"> Телефон</label>
                                <input class="form-control input-lg" type="text" id="phone" name="phone" value="" placeholder="+7 XXX XXX XX XX">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="ret_location"> Электронный адрес</label>
                                <input class="form-control input-lg" type="text" id="email" name="email" value="" placeholder="petrov.ivan@@gmail.com">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="ret_location"> Ваше резюме: </label>
                                <input title="Загрузить резюме" type="file" name="file" data-filename-placement="inside">
                            </div>
                        </div> <br/>

                        @flash.get("error").map { msg =>
                            <div class="alert bg-danger">
                                <a class="close" data-dismiss="alert">x</a>
                                @msg
                            </div>
                        }

                        <div class="row" style="margin-bottom: 100px; margin-top: 10px;">
                            <div style="text-align: center">
                                <button type="submit" class="btn btn-grove-one btn-xlg btn-bold" style="margin-right: 10px "> Сохранить </button>
                                <a href="/dashboard" class="btn btn-grove-one btn-xlg btn-bold"> Отмена </a>
                            </div>

                        </div>


                    </section>

                    @views.html.createResume.sidebar()

                }

            </div>
        </div>
    </div>
}