@(jobRequest:Option[Job] = None, jobNumber:Int = 1, open:Boolean = true, hidden:Boolean = true)

<div class="job @if(hidden){ temp-hide }" data-number="@jobNumber">
    <div href="#job@jobNumber" class="accordion-toggle @if(open){ open }else{ collapsed }" data-toggle="collapse">Место работы № <span class="job-number-id">@jobNumber</span></div>
    <input type="hidden" name="trips[@{jobNumber - 1}].trip_id" value="@jobRequest.map(_.id)">
    <input type="hidden" name="trips[@{jobNumber - 1}].trip_number" value="@{jobNumber - 1}">

    <div id="job@jobNumber" class="accordion-collapse collapse @if(open){ in }">
        <div class="job-content">

            <div class="col-md-offset-0 row">
                <div class="col-sm-6 form-group">
                    <label > Дата начала</label>
                    <div class="date-picker" class="input-append">
                        <input readonly class="form-control input-lg add-on" data-format="MM/dd/yyyy"  name="trips[@{jobNumber - 1}].depart_date" value="" type="text"></input>
                        <i class="input-date-icon glyphicons calendar"></i>
                    </div>
                </div>
                <div class="col-sm-6 form-group">
                    <label > Дата окончания </label>
                    <div class="date-picker" class="input-append">
                        <input readonly class="form-control input-lg add-on" data-format="MM/dd/yyyy"  name="trips[@{jobNumber - 1}].depart_date" value="" type="text"></input>
                        <i class="input-date-icon glyphicons calendar"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-offset-0 row">
                <div class="col-sm-12 form-group">
                    <label for="ret_location"> Название компании, сфера деятельности</label>
                    <input class="form-control input-lg" type="text" id="course" name="course" value="" placeholder="Название компании, сфера деятельности">
                </div>
            </div>

            <div class="col-md-offset-0 row">
                <div class="col-sm-12 form-group">
                    <label for="ret_location"> Наименование образовательного заведения</label>
                    <input class="form-control input-lg" type="text" id="name" name="name" value="" placeholder="Наименование образовательного заведения">
                </div>
            </div>

            <div class="col-md-offset-0 row">
                <div class="col-sm-12 form-group">
                    <label for="ret_location"> Название должности</label>
                    <input class="form-control input-lg" type="text" id="name" name="name" value="" placeholder="Название должности">
                </div>
            </div>

            <div class="col-md-offset-0 row">
                <div class="col-sm-12 form-group">
                    <label for="ret_location"> Обязанности, которые вы выполняли</label>
                    <textarea class="form-control " id="message" name="notes" rows="5"></textarea>
                </div>
            </div>

            <div class="col-md-offset-0 row">
                <div class="col-sm-12 form-group">
                    <label for="ret_location"> Личные достижения на работе</label>
                    <textarea class="form-control " id="message" name="notes" rows="5"></textarea>
                </div>
            </div>

        </div>
    </div>
</div>
<hr/>
