@(profile: Option[models.dto.ProfileDto] = None)


<div id="tripReturn">

	<div class="row">
	    <div class="col-sm-12 form-group">
	        <label for="ret_location"> ФИО</label>
	        <input class="form-control input-lg" type="text" id="name" name="name" value="@profile.map(_.fullname)" placeholder="ФИО">
	    </div>
	</div>

    <div class="row">
        <div class="col-sm-12 form-group">
            <label for="ret_location"> Город проживания</label>
            <input class="form-control input-lg" type="text" id="city" name="city" value="@profile.map(_.city)" placeholder="Город">
        </div>
    </div>

	<div class="row">
	    <div class="col-sm-12 form-group">
	        <label> Дата рождения </label>
            <div class="date-picker" class="input-append">
                <input readonly class="form-control input-lg add-on" data-format="MM/dd/yyyy"  name="birthday" value="@profile.map(_.birthday)" type="text"></input>
                <i class="input-date-icon glyphicons calendar"></i>
            </div>
	    </div>
	</div>

    <div class="row">
        <div class="col-sm-12 form-group">
            <label for="ret_location"> Телефон</label>
            <input class="form-control input-lg" type="text" id="phone" name="phone" value="@profile.map(_.phone)" placeholder="Телефон">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 form-group">
            <label for="ret_location"> Email</label>
            <input class="form-control input-lg" type="text" id="email" name="email" value="@profile.map(_.email)" placeholder="Email">
        </div>
    </div>

</div>

<hr/>