@()
<section id="contact-details" class="col-md-4 with-margin">

    <div class="detail-block">

		<h4> В каком формате присылать нам файл с резюме? </h4>
			<a href="/blankResume">Скачать шаблон</a>
		</div>

    <div class="detail-block">

        <h4> Возникли вопросы? Спросите у нас: </h4>

        <div class="info-block">

            <i class="glyphicons envelope"></i>

            <div class="info">
                <h5> Электроннный адрес: </h5>
                <p> help@@сvsolutions.ru </p>
            </div>

        </div>

        <div class="info-block">

            <i class="glyphicons headset"></i>

            <div class="info">
                <h5> Телефон: </h5>
                <p> (495) 669-35-88 </p>
            </div>

        </div>

        <div class="info-block">
            <i class="social skype"></i>
            <div class="info">
                <h5>Skype:</h5>
                <p>сvsolutions</p>
            </div>
        </div>

        <div class="info-block">

            <i class="glyphicons clock"></i>

            <div class="info business-hours">
                <h5> Рабочее время: </h5>
                <p> 24/7 </p>
            </div>

        </div>

    </div>

</section>

