@()

<div class="sub-foot">
    <div class="container">
        <h4>Featured in <small>Secondary text</small></h4>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <a href="indexOld.html#" class="thumbnail">
                    <img alt="Thumbnail" src="@routes.Assets.at("images/350x150")">
                </a>
            </div>
            <div class="col-sm-6 col-md-3">
                <a href="indexOld.html#" class="thumbnail">
                    <img alt="Thumbnail" src="@routes.Assets.at("images/350x150")">
                </a>
            </div>
            <div class="col-sm-6 col-md-3">
                <a href="indexOld.html#" class="thumbnail">
                    <img alt="Thumbnail" src="@routes.Assets.at("images/350x150")">
                </a>
            </div>
            <div class="col-sm-6 col-md-3">
                <a href="indexOld.html#" class="thumbnail">
                    <img alt="Thumbnail" src="@routes.Assets.at("images/350x150")">
                </a>
            </div>
        </div>
        <hr>
        <p class="lead text-center">
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

        <p class="text-center">
            <button type="button" class="btn btn-primary btn-lg">Get Started!</button>
            <button type="button" class="btn btn-success btn-lg">Contact Us</button>
        </p>
    </div>
</div>