@()

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.css")"/>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery.fs.selecter.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/scojs.css")"  />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/font-awesome.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/refineslide.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/refineslide-theme-dark.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-social.css")"/>

        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery.fs.picker.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery.fs.scroller.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/font-awesome.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/refineslide-theme-dark.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/room.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/owner.menu.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/user.menu.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/superbox.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/navi.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/select2.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/dropzone.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/smart_wizard_vertical.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/demo_style.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery.bootstrap-touchspin.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/datepicker.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("javascripts/bower_components/nanoGallery/css/nanogallery.min.css")" />

        @*<script src="@routes.Assets.at("javascripts/jquery.js")"></script>*@
        <script src="@routes.Assets.at("javascripts/jquery.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootbox.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/main.js")"></script>
        <script src="@routes.Assets.at("javascripts/room.js")"></script>
        <script src="@routes.Assets.at("javascripts/user.js")"></script>

        <script src="@routes.Assets.at("javascripts/jquery.fs.selecter.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery.fs.picker.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery.fs.scroller.js")"></script>

        <script src="@routes.Assets.at("javascripts/bootstrap.js")"></script>

        <script src="@routes.Assets.at("javascripts/sco.modal.js")"></script>
        <script src="@routes.Assets.at("javascripts/sco.confirm.js")"></script>
        <script src="@routes.Assets.at("javascripts/sco.ajax.js")"></script>
        <script src="@routes.Assets.at("javascripts/sco.collapse.js")"></script>
        <script src="@routes.Assets.at("javascripts/sco.countdown.js")"></script>
        <script src="@routes.Assets.at("javascripts/sco.message.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery.refineslide.js")"></script>
        <script src="@routes.Assets.at("javascripts/select2.js")"></script>
        <script src="@routes.Assets.at("javascripts/dropzone.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery.smartWizard.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery.bootstrap-touchspin.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-datepicker.js")"></script>
        <script src="@routes.Assets.at("javascripts/bower_components/nanoGallery/jquery.nanogallery.js")"></script>

        <!-- endbower -->
            <!-- endbuild -->
            <!-- build:css({.tmp,app}) styles/main.css -->
        @*<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">*@
            <!-- endbuild -->

            <!-- Custom CSS Assets -->

            <!--<link href="styles/theme.css" rel="stylesheet">-->

    </head>
    <body>
<!--[if lt IE 7]>
<![endif]-->