@(user: securesocial.core.Identity)(implicit request: play.api.mvc.RequestHeader)
@import securesocial.core.IdentityProvider

<html>
    <body>
        <p>Здравствуйте, @user.firstName!</p>

        <p>Вы пытались зарегестрироваться, однако Ваш Email уже используется.  Если Вы не помните свой пароль, воспользуйтесь
            <a href="@securesocial.core.providers.utils.RoutesHelper.startResetPassword().absoluteURL(IdentityProvider.sslEnabled)(request)">системой восстановления пароля.</a></p>
    </body>
</html>